---
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";

const { margin } = Astro.props;

const footermenu = {
  company: [
    {
      title: "About",
      path: "/about",
    },
    {
      title: "Careers",
      path: "#",
    },
    {
      title: "Blog",
      path: "/blog",
    },
    {
      title: "Contact",
      path: "/contact",
    },
  ],
  product: [
    {
      title: "For Startups",
      path: "#",
    },
    {
      title: "Features",
      path: "#",
    },
    {
      title: "Pricing",
      path: "/pricing",
    },
    {
      title: "Integrations",
      path: "#",
    },
  ],
  resources: [
    {
      title: "Help Center",
      path: "#",
    },
    {
      title: "Guides",
      path: "#",
    },
    {
      title: "Documentation",
      path: "#",
    },
    {
      title: "Uptime Status",
      path: "#",
    },
  ],
};
---

<footer
  class:list={[
    "py-14 bg-slate-100 border-t border-slate-100",
    margin && "mt-10",
  ]}>
  <Container>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8 ">
      <div class="sm:col-span-2 md:col-span-3 lg:col-span-5 flex flex-col items-center justify-center" >
        <a href="/" class="text-lg flex items-center "
          >
          <!--
            <span class="font-semibold text-gray-800 text-2xl">Susana</span><span
            class="text-slate-600 text-xl">Casanova</span>
           -->
           <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="41px" viewBox="0 0 516 100" version="1.1"><path d="M 14.775 15.494 C 11.255 17.488, 10 19.934, 10 24.799 C 10 29.944, 12.593 33.133, 19.978 37.069 C 26.348 40.464, 27.560 42.085, 25.961 45.072 C 24.662 47.501, 17.912 47.697, 12.563 45.462 L 8.881 43.924 9.191 48.172 C 9.549 53.099, 10.786 53.737, 20.300 53.900 C 27.162 54.018, 31.352 52.153, 33.483 48.033 C 37.163 40.917, 34.107 35.498, 23.150 29.715 C 18.537 27.280, 17.913 26.589, 18.187 24.215 C 18.482 21.660, 18.794 21.502, 23.500 21.537 C 26.250 21.557, 29.353 21.782, 30.396 22.037 C 32.699 22.599, 34.935 17.535, 33.166 15.766 C 31.336 13.936, 17.877 13.738, 14.775 15.494 M 38.002 28.193 C 38.003 44.400, 38.996 47.787, 44.898 51.730 C 49.696 54.935, 59.304 54.935, 64.102 51.730 C 70.004 47.787, 70.997 44.400, 70.998 28.193 L 71 13.885 66.750 14.193 L 62.500 14.500 62.221 28.953 C 61.996 40.619, 61.629 43.752, 60.316 45.203 C 58.200 47.541, 51.904 47.568, 49.117 45.250 C 47.180 43.639, 46.993 42.349, 46.756 29 L 46.500 14.500 42.250 14.193 L 38 13.885 38.002 28.193 M 78.400 17.400 C 75.654 20.146, 75 21.578, 75 24.844 C 75 30.012, 77.627 33.133, 85.501 37.317 C 91.653 40.587, 93.149 42.910, 90.872 45.654 C 89.567 47.226, 83.762 47.130, 76.677 45.420 C 73.965 44.766, 73.867 44.871, 74.177 48.097 C 74.590 52.394, 77.558 53.966, 85.300 53.985 C 94.903 54.010, 100.019 50.016, 99.978 42.527 C 99.949 37.402, 97.982 34.944, 90.601 30.806 C 83.671 26.923, 82.019 24.886, 83.930 22.584 C 85.429 20.779, 92.083 20.439, 95.031 22.017 C 96.617 22.865, 97.185 22.543, 98.466 20.066 C 99.310 18.435, 100 16.896, 100 16.647 C 100 15.488, 93.114 14, 87.751 14 C 82.317 14, 81.505 14.295, 78.400 17.400 M 112.494 15.197 C 110.888 19.522, 99 53.435, 99 53.690 C 99 53.861, 101.011 54, 103.470 54 L 107.939 54 109.325 49.250 L 110.710 44.500 118.071 44.500 L 125.433 44.500 126.775 49.250 L 128.116 54 132.558 54 C 135.001 54, 136.976 53.663, 136.947 53.250 C 136.917 52.837, 133.844 43.950, 130.117 33.500 L 123.341 14.500 118.159 14.197 C 114.589 13.989, 112.827 14.300, 112.494 15.197 M 139 33.948 L 139 54 142.473 54 L 145.947 54 146.223 39.419 L 146.500 24.839 154.820 39.419 L 163.140 54 168.570 54 L 174 54 174 34 L 174 14 169.926 14 L 165.852 14 166.176 28.453 C 166.354 36.402, 166.143 42.547, 165.707 42.110 C 165.270 41.672, 161.430 35.280, 157.172 27.907 L 149.430 14.500 144.215 14.198 L 139 13.895 139 33.948 M 189 14.324 C 189 14.503, 186.075 22.872, 182.500 32.924 C 178.925 42.975, 176 51.855, 176 52.657 C 176 53.753, 177.049 54.039, 180.222 53.807 C 184.336 53.508, 184.478 53.377, 185.792 48.708 L 187.140 43.915 194.320 44.208 L 201.500 44.500 202.926 49.250 C 204.342 53.964, 204.385 54, 208.676 54 C 211.054 54, 213 53.663, 213.001 53.250 C 213.002 52.837, 209.964 43.842, 206.251 33.259 L 199.500 14.018 194.250 14.009 C 191.363 14.004, 189 14.146, 189 14.324 M 191.893 28.522 L 189.425 36.500 193.820 36.809 C 196.237 36.979, 198.419 36.914, 198.669 36.664 C 198.919 36.414, 198.052 32.685, 196.742 28.376 L 194.360 20.543 191.893 28.522 M 115.397 29.250 L 113.322 36.500 117.768 36.809 C 120.214 36.979, 122.368 36.965, 122.556 36.777 C 123.083 36.250, 118.766 22, 118.079 22 C 117.745 22, 116.538 25.262, 115.397 29.250" stroke="none" fill="#ffffff" fill-rule="evenodd"/><path d="M 236.001 14.123 C 232.480 15.527, 229.124 18.879, 226.903 23.210 C 224.092 28.691, 224.267 40.141, 227.250 45.980 C 231.224 53.756, 233.035 54.467, 249.548 54.726 L 263.953 54.952 265.328 50.226 L 266.703 45.500 273.781 45.208 L 280.860 44.915 282.212 49.708 L 283.565 54.500 296.032 54.728 C 310.413 54.992, 314.347 54.047, 317.184 49.647 C 318.300 47.916, 318.938 47.329, 318.602 48.343 C 316.388 55.026, 316.375 55, 321.861 55 L 326.939 55 328.321 50.250 L 329.703 45.500 336.809 45.207 L 343.914 44.914 345.311 49.707 L 346.707 54.500 356.326 54.727 L 365.945 54.954 366.223 40.884 L 366.500 26.815 374.514 40.657 L 382.529 54.500 388.264 54.800 L 394 55.100 394 34.050 L 394 13 390 13 L 386 13 385.997 27.750 L 385.994 42.500 377.607 28 L 369.220 13.500 363.360 13.500 L 357.500 13.500 357 33.199 L 356.500 52.898 349.503 32.949 L 342.507 13 336.868 13 L 331.229 13 325.365 29.719 C 320.208 44.420, 319.462 45.973, 319.181 42.579 C 318.721 37.010, 316.861 34.809, 308.945 30.470 C 302.785 27.093, 301.942 26.291, 302.202 24.055 C 302.473 21.734, 302.912 21.502, 307 21.519 C 309.475 21.530, 312.489 21.890, 313.698 22.320 C 315.509 22.964, 316.170 22.573, 317.448 20.101 C 319.635 15.871, 319.474 15.459, 315.134 14.158 C 309.444 12.454, 301.294 12.713, 297.920 14.706 C 292.086 18.152, 290.538 26.738, 294.801 32.003 C 295.757 33.183, 299.196 35.578, 302.443 37.324 C 309.308 41.017, 311.003 43.087, 309.070 45.416 C 307.416 47.409, 302.508 47.443, 297 45.500 C 291.821 43.673, 292.214 43.665, 291.823 45.604 C 291.645 46.487, 288.800 39.512, 285.500 30.105 L 279.500 13.001 273.859 13 L 268.218 13 264.417 23.750 C 256.995 44.745, 255.097 49.484, 255.049 47.143 C 255.011 45.341, 254.598 44.940, 253.295 45.440 C 250.227 46.618, 243.196 47.266, 240.589 46.612 C 236.362 45.551, 234.306 39.693, 234.820 30.173 C 234.940 27.957, 236.018 25.828, 238.048 23.798 C 240.749 21.098, 241.574 20.814, 245.298 21.312 C 247.609 21.620, 250.427 22.156, 251.559 22.503 C 253.133 22.985, 253.899 22.518, 254.809 20.520 C 256.639 16.503, 256.269 15.289, 252.851 14.098 C 248.996 12.754, 239.398 12.768, 236.001 14.123 M 408.450 14.356 C 394.357 20.730, 394.509 47.718, 408.671 53.636 C 410.467 54.386, 414.763 54.993, 418.218 54.984 C 430.857 54.950, 437.477 47.718, 437.424 34 C 437.390 25.226, 435.007 19.568, 429.773 15.834 C 427.161 13.971, 424.985 13.447, 419 13.238 C 414.235 13.072, 410.388 13.479, 408.450 14.356 M 436.694 13.750 C 436.461 14.162, 439.429 23.634, 443.289 34.797 L 450.308 55.094 455.300 54.797 L 460.292 54.500 467.091 35 C 470.831 24.275, 473.915 14.913, 473.945 14.195 C 473.985 13.260, 472.681 12.977, 469.337 13.195 L 464.675 13.500 462.288 20.500 C 460.975 24.350, 458.849 31.096, 457.564 35.491 L 455.227 43.482 454.249 39.991 C 453.710 38.071, 451.568 31.213, 449.489 24.750 L 445.707 13 441.413 13 C 439.051 13, 436.927 13.338, 436.694 13.750 M 483.493 14.200 C 479.162 25.867, 470 52.719, 470 53.745 C 470 54.749, 471.255 55.029, 474.750 54.805 C 479.463 54.502, 479.512 54.463, 481 49.755 L 482.500 45.010 489.574 45.005 L 496.647 45 498.074 49.750 C 499.493 54.476, 499.524 54.502, 504.250 54.805 C 508.290 55.064, 508.992 54.840, 508.947 53.305 C 508.917 52.312, 505.844 42.950, 502.117 32.500 L 495.340 13.500 489.658 13.200 C 485.685 12.990, 483.831 13.291, 483.493 14.200 M 412.656 22.133 C 406.553 25.680, 406.690 42.623, 412.850 45.920 C 415.352 47.259, 420.534 47.320, 422.929 46.038 C 428.434 43.092, 428.983 26.203, 423.694 22.498 C 421.222 20.767, 415.341 20.572, 412.656 22.133 M 487.799 27.741 C 486.863 30.953, 485.803 34.351, 485.442 35.291 C 484.881 36.753, 485.462 37, 489.460 37 C 493.453 37, 494.055 36.745, 493.591 35.250 C 493.292 34.288, 492.249 30.890, 491.274 27.700 L 489.500 21.900 487.799 27.741 M 271.374 30.061 L 269.249 37 273.624 37 C 276.031 37, 278 36.732, 278 36.404 C 278 35.097, 274.737 24.456, 274.139 23.811 C 273.788 23.433, 272.543 26.245, 271.374 30.061 M 334.374 30.061 L 332.249 37 336.624 37 C 339.031 37, 341 36.632, 341 36.182 C 341 34.710, 337.835 24.518, 337.159 23.811 C 336.797 23.433, 335.543 26.245, 334.374 30.061 M 449.357 67.513 C 448.694 69.240, 450.627 72, 452.500 72 C 454.415 72, 456.111 69.452, 455.410 67.627 C 454.623 65.576, 450.132 65.492, 449.357 67.513 M 316.452 68.265 C 316.165 69.012, 316.059 74.770, 316.215 81.061 L 316.500 92.500 323.500 92.500 C 330.393 92.500, 330.505 92.458, 330.816 89.750 C 331.121 87.105, 330.958 87, 326.566 87 C 322.362 87, 322 86.802, 322 84.500 C 322 82.250, 322.400 82, 326 82 C 329.600 82, 330 81.750, 330 79.500 C 330 77.250, 329.600 77, 326 77 C 322.706 77, 322 76.657, 322 75.057 C 322 73.487, 322.814 73.056, 326.250 72.807 C 330.035 72.534, 330.500 72.226, 330.500 70 C 330.500 67.609, 330.205 67.487, 323.736 67.204 C 318.750 66.986, 316.836 67.265, 316.452 68.265 M 478.182 71.500 C 477.555 72.875, 476.583 74, 476.021 74 C 475.460 74, 475 74.900, 475 76 C 475 77.100, 475.450 78, 476 78 C 476.550 78, 477 80.475, 477 83.500 C 477 87.667, 477.485 89.485, 479 91 C 481.342 93.342, 486.230 93.633, 487.972 91.534 C 489.713 89.436, 488.748 87.547, 485.924 87.522 C 483.745 87.502, 483.469 87.019, 483.195 82.750 C 482.906 78.243, 483.021 78, 485.445 78 C 487.504 78, 488 77.514, 488 75.500 C 488 73.500, 487.500 73, 485.500 73 C 483.667 73, 483 72.467, 483 71 C 483 68.104, 479.567 68.460, 478.182 71.500 M 337.261 74.529 C 336.060 75.371, 334.647 77.621, 334.119 79.529 C 332.897 83.956, 334.335 89.421, 337.261 91.471 C 341.524 94.456, 349 92.789, 349 88.854 C 349 87.039, 348.577 86.857, 345.638 87.408 C 341.460 88.192, 339.739 86.428, 340.182 81.815 C 340.482 78.688, 340.711 78.506, 344.226 78.612 C 347.037 78.696, 348.097 78.268, 348.541 76.871 C 348.864 75.852, 348.848 74.564, 348.506 74.009 C 347.544 72.453, 339.708 72.816, 337.261 74.529 M 355.229 73.669 C 353.191 74.489, 351 79.597, 351 83.527 C 351 86.236, 351.771 87.925, 354.048 90.202 C 356.729 92.883, 357.590 93.184, 361.195 92.701 C 367.129 91.905, 369.500 89.102, 369.500 82.886 C 369.500 78.583, 369.081 77.466, 366.694 75.413 C 364.005 73.100, 358.663 72.288, 355.229 73.669 M 373.214 82.750 C 373.497 92.407, 373.524 92.500, 376 92.500 C 378.298 92.500, 378.521 92.097, 378.761 87.500 C 379.186 79.382, 379.773 77.828, 382.285 78.185 C 384.273 78.468, 384.551 79.217, 385 85.500 C 385.476 92.167, 385.619 92.500, 388 92.500 C 390.413 92.500, 390.510 92.245, 390.796 85.145 C 391.174 75.760, 389.669 73, 384.177 73 C 382.100 73, 379.860 73.540, 379.200 74.200 C 378.267 75.133, 378 75.133, 378 74.200 C 378 73.540, 376.859 73, 375.464 73 L 372.928 73 373.214 82.750 M 396.482 76.204 C 394.196 78.921, 393.861 80.078, 394.283 83.816 C 394.901 89.305, 397.473 91.985, 402.805 92.701 C 406.410 93.184, 407.271 92.883, 409.952 90.202 C 413.993 86.161, 414.175 80.550, 410.411 76.077 C 408.256 73.515, 407.099 73, 403.500 73 C 399.864 73, 398.750 73.509, 396.482 76.204 M 416.214 82.750 C 416.497 92.407, 416.524 92.500, 419 92.500 C 421.298 92.500, 421.521 92.097, 421.761 87.500 C 422.155 79.970, 422.808 78, 424.912 78 C 427.363 78, 428 79.887, 428 87.148 C 428 93.087, 428.021 93.130, 430.750 92.816 C 433.402 92.511, 433.518 92.251, 434 85.500 C 434.440 79.333, 434.738 78.500, 436.500 78.500 C 438.262 78.500, 438.560 79.333, 439 85.500 C 439.482 92.251, 439.598 92.511, 442.250 92.816 L 445 93.133 445 84.721 C 445 77.843, 444.667 76.008, 443.171 74.655 C 441.118 72.797, 436.819 72.491, 433.995 74.003 C 432.743 74.673, 431.916 74.673, 431.502 74.003 C 430.634 72.600, 423.652 72.748, 422.200 74.200 C 421.267 75.133, 421 75.133, 421 74.200 C 421 73.540, 419.859 73, 418.464 73 L 415.928 73 416.214 82.750 M 449.425 74.334 C 449.144 75.067, 449.046 79.455, 449.207 84.084 C 449.498 92.439, 449.520 92.502, 452.250 92.816 L 455 93.133 455 83.066 L 455 73 452.469 73 C 451.076 73, 449.707 73.600, 449.425 74.334 M 460.612 74.294 C 459.369 75.203, 458.940 76.617, 459.171 79.044 C 459.443 81.906, 460.145 82.815, 463.250 84.332 C 468.258 86.779, 468.131 88.437, 463 87.616 C 459.265 87.019, 459 87.136, 459 89.381 C 459 92.108, 460.634 93, 465.627 93 C 469.361 93, 474 89.399, 474 86.500 C 474 84.492, 469.580 80, 467.604 80 C 466.787 80, 465.797 79.480, 465.404 78.844 C 464.891 78.014, 465.707 77.853, 468.299 78.274 C 471.345 78.768, 472.012 78.538, 472.562 76.805 C 472.962 75.546, 472.689 74.417, 471.857 73.890 C 469.788 72.579, 462.605 72.837, 460.612 74.294 M 493 73.987 C 491.843 74.724, 491.752 75.347, 492.601 76.709 C 493.399 77.989, 494.708 78.389, 497.351 78.161 C 499.485 77.977, 501 78.294, 501 78.923 C 501 79.516, 499.896 80, 498.547 80 C 490.420 80, 486.718 88.301, 493.219 91.949 C 495.459 93.207, 496.481 93.257, 499.170 92.242 C 501.316 91.432, 502.753 91.353, 503.408 92.008 C 506.134 94.734, 507 92.960, 507 84.655 C 507 77.840, 506.665 76.006, 505.171 74.655 C 503.150 72.826, 495.482 72.405, 493 73.987 M 357.607 79.582 C 356.040 83.665, 357.645 88, 360.725 88 C 362.784 88, 364.314 82.985, 363.081 80.278 C 361.891 77.666, 358.507 77.235, 357.607 79.582 M 400.513 80.941 C 399.244 86.716, 403.888 90.534, 406.148 85.574 C 407.818 81.909, 406.482 78, 403.560 78 C 401.716 78, 401.009 78.682, 400.513 80.941 M 497.250 84.662 C 496.563 84.940, 496 85.835, 496 86.653 C 496 88.774, 500.394 87.950, 500.813 85.750 C 501.139 84.042, 499.800 83.633, 497.250 84.662" stroke="none" fill="#000000" fill-rule="evenodd"/><path d="M 3.452 6.264 C 3.185 6.959, 3.087 19.897, 3.233 35.014 L 3.500 62.500 112 62.500 L 220.500 62.500 220.765 33.750 L 221.031 5 112.484 5 C 25.919 5, 3.839 5.256, 3.452 6.264 M 14.775 15.494 C 11.255 17.488, 10 19.934, 10 24.799 C 10 29.944, 12.593 33.133, 19.978 37.069 C 26.348 40.464, 27.560 42.085, 25.961 45.072 C 24.662 47.501, 17.912 47.697, 12.563 45.462 L 8.881 43.924 9.191 48.172 C 9.549 53.099, 10.786 53.737, 20.300 53.900 C 27.162 54.018, 31.352 52.153, 33.483 48.033 C 37.163 40.917, 34.107 35.498, 23.150 29.715 C 18.537 27.280, 17.913 26.589, 18.187 24.215 C 18.482 21.660, 18.794 21.502, 23.500 21.537 C 26.250 21.557, 29.353 21.782, 30.396 22.037 C 32.699 22.599, 34.935 17.535, 33.166 15.766 C 31.336 13.936, 17.877 13.738, 14.775 15.494 M 38.002 28.193 C 38.003 44.400, 38.996 47.787, 44.898 51.730 C 49.696 54.935, 59.304 54.935, 64.102 51.730 C 70.004 47.787, 70.997 44.400, 70.998 28.193 L 71 13.885 66.750 14.193 L 62.500 14.500 62.221 28.953 C 61.996 40.619, 61.629 43.752, 60.316 45.203 C 58.200 47.541, 51.904 47.568, 49.117 45.250 C 47.180 43.639, 46.993 42.349, 46.756 29 L 46.500 14.500 42.250 14.193 L 38 13.885 38.002 28.193 M 78.400 17.400 C 75.654 20.146, 75 21.578, 75 24.844 C 75 30.012, 77.627 33.133, 85.501 37.317 C 91.653 40.587, 93.149 42.910, 90.872 45.654 C 89.567 47.226, 83.762 47.130, 76.677 45.420 C 73.965 44.766, 73.867 44.871, 74.177 48.097 C 74.590 52.394, 77.558 53.966, 85.300 53.985 C 94.903 54.010, 100.019 50.016, 99.978 42.527 C 99.949 37.402, 97.982 34.944, 90.601 30.806 C 83.671 26.923, 82.019 24.886, 83.930 22.584 C 85.429 20.779, 92.083 20.439, 95.031 22.017 C 96.617 22.865, 97.185 22.543, 98.466 20.066 C 99.310 18.435, 100 16.896, 100 16.647 C 100 15.488, 93.114 14, 87.751 14 C 82.317 14, 81.505 14.295, 78.400 17.400 M 112.494 15.197 C 110.888 19.522, 99 53.435, 99 53.690 C 99 53.861, 101.011 54, 103.470 54 L 107.939 54 109.325 49.250 L 110.710 44.500 118.071 44.500 L 125.433 44.500 126.775 49.250 L 128.116 54 132.558 54 C 135.001 54, 136.976 53.663, 136.947 53.250 C 136.917 52.837, 133.844 43.950, 130.117 33.500 L 123.341 14.500 118.159 14.197 C 114.589 13.989, 112.827 14.300, 112.494 15.197 M 139 33.948 L 139 54 142.473 54 L 145.947 54 146.223 39.419 L 146.500 24.839 154.820 39.419 L 163.140 54 168.570 54 L 174 54 174 34 L 174 14 169.926 14 L 165.852 14 166.176 28.453 C 166.354 36.402, 166.143 42.547, 165.707 42.110 C 165.270 41.672, 161.430 35.280, 157.172 27.907 L 149.430 14.500 144.215 14.198 L 139 13.895 139 33.948 M 189 14.324 C 189 14.503, 186.075 22.872, 182.500 32.924 C 178.925 42.975, 176 51.855, 176 52.657 C 176 53.753, 177.049 54.039, 180.222 53.807 C 184.336 53.508, 184.478 53.377, 185.792 48.708 L 187.140 43.915 194.320 44.208 L 201.500 44.500 202.926 49.250 C 204.342 53.964, 204.385 54, 208.676 54 C 211.054 54, 213 53.663, 213.001 53.250 C 213.002 52.837, 209.964 43.842, 206.251 33.259 L 199.500 14.018 194.250 14.009 C 191.363 14.004, 189 14.146, 189 14.324 M 191.893 28.522 L 189.425 36.500 193.820 36.809 C 196.237 36.979, 198.419 36.914, 198.669 36.664 C 198.919 36.414, 198.052 32.685, 196.742 28.376 L 194.360 20.543 191.893 28.522 M 115.397 29.250 L 113.322 36.500 117.768 36.809 C 120.214 36.979, 122.368 36.965, 122.556 36.777 C 123.083 36.250, 118.766 22, 118.079 22 C 117.745 22, 116.538 25.262, 115.397 29.250" stroke="none" fill="#dc2977" fill-rule="evenodd"/></svg>
         
          <span class="uppercase mt-0.5 leading-none text-xs ml-1 font-bold bg-white-200 text-slate-700 px-2 py-1 rounded-md">
          </span>
          <span class="uppercase mt-0.5 leading-none text-xs ml-1 font-bold bg-white-200 text-slate-700 px-2 py-1 rounded-md">
          </span>
        </a>
       
        <p class="mt-4 text-sm text-slate-700 max-w-xs ">
          ¡Estamos a un solo clic de distancia! Explora más sobre mis proyectos y cómo pueden inspirarte. Déjame tu contacto y conectemos.
        </p>
        <div class="flex gap-3 mt-4 items-center">
          <a
            href="mailto:susana.casanova@pucp.pe"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <span class="sr-only">Mail</span></a
          >
          <a
            href="https://www.facebook.com/susana.casanovaa"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-facebook-circle" class="w-4 h-4" /><span
              class="sr-only">Facebook</span
            ></a
          >
          <a
            href="https://www.linkedin.com/in/susana-casanova-huiman-4298b8140/"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-linkedin-square" class="w-4 h-4" /><span
              class="sr-only">Linkedin</span
            ></a
          >
          <a href=""></a>
          <a href=""></a>
        </div>
      </div>
      
    </div>
  </Container>

  <div class="mt-14 pt-8 px-5 border-t border-slate-200">
    <Container>
      <p class="text-center text-sm text-slate-600 [text-wrap:balance]">
        Copyright © {new Date().getFullYear()} Astroship. All rights reserved.
      </p>
      <p class="text-center text-xs text-slate-600 mt-2">
        <a href="/terms" class="hover:text-indigo-500"> Terms</a> ・ <a
          href="/privacy"
          class="hover:text-indigo-500">
          Privacy</a
        >
      </p>
    </Container>
  </div>
</footer>


<!--

   <div class="text-gray-500 my-2 h-7 md:h-9">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="580.000000pt" height="30.000000pt" viewBox="0 0 580.000000 100.000000"
            preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
            <path d="M1815 891 l-30 -6 -5 -215 -5 -215 -18 65 c-10 36 -35 133 -56 215
            l-38 150 -59 0 -59 0 0 -358 c0 -198 2 -360 5 -362 3 -2 21 -6 41 -10 27 -5
            40 -2 53 11 16 15 17 35 10 207 -5 133 -4 188 4 183 10 -6 58 -195 83 -324 13
            -69 22 -76 95 -70 l39 3 5 355 c5 306 4 357 -9 368 -8 6 -17 11 -20 11 -3 -1
            -19 -4 -36 -8z"/>
            <path d="M4245 891 l-30 -6 -5 -215 c-3 -118 -8 -206 -12 -195 -4 11 -26 92
            -48 180 -23 88 -46 177 -51 198 l-10 38 -57 -3 -57 -3 0 -358 c0 -197 2 -360
            5 -362 3 -2 21 -6 40 -9 64 -11 64 -9 62 211 -2 136 1 193 8 182 12 -21 66
            -237 76 -304 10 -78 17 -85 78 -85 37 0 56 4 59 14 3 7 7 170 8 361 2 290 0
            348 -12 356 -8 5 -16 8 -19 8 -3 -1 -18 -4 -35 -8z"/>
            <path d="M442 589 c3 -297 4 -305 27 -352 13 -27 38 -58 55 -69 42 -26 109
            -19 143 15 47 47 56 107 61 406 2 150 0 277 -5 281 -4 5 -70 11 -146 15 l-138
            7 3 -303z"/>
            <path d="M865 871 c-45 -19 -60 -49 -59 -120 1 -75 18 -115 110 -257 70 -109
            84 -138 84 -169 0 -42 -17 -65 -48 -65 -40 0 -52 17 -52 77 0 58 -18 77 -68
            71 -26 -3 -27 -6 -30 -68 -5 -115 51 -180 156 -180 50 0 58 3 92 38 86 85 65
            181 -85 395 -30 43 -57 94 -61 114 -9 47 9 83 40 83 31 0 39 -13 46 -70 5 -45
            5 -45 45 -45 l40 0 3 52 c4 64 -19 118 -59 138 -30 16 -121 19 -154 6z"/>
            <path d="M3263 845 c-34 -34 -35 -37 -31 -98 4 -71 31 -129 129 -283 63 -97
            79 -147 60 -183 -13 -23 -59 -29 -79 -9 -7 7 -12 36 -12 65 0 58 -18 77 -68
            71 -26 -3 -27 -5 -30 -73 -2 -56 2 -77 18 -103 30 -48 75 -72 139 -72 49 0 57
            3 91 38 46 45 56 89 41 163 -13 61 -29 90 -120 220 -48 69 -65 103 -69 135 -5
            47 9 74 37 74 31 0 45 -19 50 -67 l6 -48 40 0 40 0 -1 69 c-1 66 -2 71 -37
            103 -34 30 -42 33 -103 33 -62 0 -68 -2 -101 -35z"/>
            <path d="M4884 823 c4 -32 13 -83 20 -113 8 -30 22 -93 31 -140 27 -143 86
            -374 101 -397 16 -26 65 -32 81 -10 11 14 48 166 93 377 17 80 37 170 44 200
            8 30 17 74 20 98 l6 42 -55 0 c-68 0 -66 4 -101 -199 -27 -161 -40 -220 -47
            -227 -3 -3 -14 48 -26 113 -40 218 -52 277 -62 295 -7 14 -22 18 -61 18 l-51
            0 7 -57z"/>
            <path d="M1274 826 c-58 -26 -99 -106 -92 -179 3 -30 6 -32 46 -35 37 -3 42
            -1 42 18 0 32 27 90 45 97 32 11 57 -29 62 -101 l6 -66 -42 0 c-154 0 -244
            -96 -192 -203 26 -54 65 -76 144 -85 54 -6 62 -10 65 -30 4 -27 34 -44 70 -40
            26 3 27 5 35 93 4 50 7 167 5 260 -3 150 -5 174 -23 205 -36 60 -115 91 -171
            66z"/>
            <path d="M2080 833 c-23 -8 -70 -55 -85 -83 -17 -34 -27 -97 -20 -120 5 -15
            15 -20 44 -20 38 0 39 1 51 47 14 56 26 73 52 73 24 0 45 -49 50 -115 l3 -50
            -69 -7 c-120 -14 -176 -62 -176 -151 0 -79 75 -137 176 -137 40 0 44 -2 44
            -25 0 -28 25 -45 69 -45 29 0 30 1 36 63 12 129 10 410 -4 459 -16 56 -52 92
            -106 107 -44 12 -43 12 -65 4z"/>
            <path d="M2962 823 c-59 -29 -97 -103 -90 -176 3 -30 6 -32 46 -35 37 -3 42
            -1 42 18 0 32 27 90 45 97 32 11 57 -29 62 -101 l6 -66 -42 0 c-154 0 -244
            -96 -192 -203 26 -54 65 -76 144 -85 54 -6 62 -10 65 -30 4 -27 34 -44 70 -40
            26 3 27 5 35 88 4 47 7 164 5 260 -3 155 -5 179 -23 210 -37 62 -116 91 -173
            63z"/>
            <path d="M3704 826 c-58 -26 -99 -104 -92 -176 3 -34 5 -35 43 -35 38 0 40 1
            48 41 9 47 38 80 62 70 23 -8 45 -68 45 -119 l0 -44 -71 -6 c-117 -10 -190
            -77 -176 -163 12 -75 60 -111 160 -122 54 -6 62 -10 65 -30 4 -27 34 -44 70
            -40 27 3 27 4 35 108 4 58 7 173 5 255 -3 125 -7 157 -23 190 -32 63 -112 97
            -171 71z"/>
            <path d="M5455 826 c-28 -12 -84 -68 -85 -84 -1 -4 -5 -27 -10 -52 -11 -59 1
            -80 45 -80 30 0 35 4 40 28 13 60 34 93 58 90 28 -4 45 -39 53 -110 l6 -55
            -70 -6 c-116 -10 -182 -61 -182 -140 0 -85 57 -136 164 -146 53 -5 60 -9 61
            -28 2 -31 7 -34 54 -40 36 -5 41 -3 46 18 3 13 7 125 8 249 2 197 0 231 -16
            272 -28 72 -108 111 -172 84z"/>
            <path d="M118 815 c-36 -20 -50 -73 -37 -134 7 -33 36 -82 99 -171 74 -103 90
            -131 90 -162 0 -36 -19 -58 -49 -58 -26 0 -51 41 -51 84 0 43 -1 44 -37 51
            -51 9 -67 -12 -59 -80 10 -88 67 -135 165 -135 49 0 57 3 92 39 35 34 39 44
            39 87 -1 67 -26 118 -113 223 -42 50 -78 104 -82 120 -8 39 9 71 39 71 30 0
            44 -17 48 -60 3 -33 5 -35 44 -38 50 -4 57 8 45 74 -5 28 -19 57 -35 73 -23
            22 -36 26 -99 28 -50 2 -80 -1 -99 -12z"/>
            <path d="M2685 811 c-52 -24 -117 -89 -146 -149 -20 -40 -24 -62 -24 -152 0
            -121 15 -161 87 -231 78 -76 150 -91 175 -37 17 34 8 55 -25 63 -86 21 -142
            103 -142 206 0 80 45 167 107 208 26 17 50 31 55 31 12 0 10 54 -4 68 -16 16
            -36 15 -83 -7z"/>
            <path d="M4489 742 c-79 -41 -113 -100 -118 -205 -2 -46 2 -98 9 -121 25 -82
            98 -146 169 -146 l31 0 1 88 c1 48 3 148 5 222 5 208 2 214 -97 162z"/>
            <path d="M4626 740 c-3 -18 -6 -130 -6 -250 0 -169 3 -219 13 -223 16 -6 77
            14 112 37 69 46 107 161 88 273 -18 104 -77 170 -169 189 -29 5 -32 3 -38 -26z"/>
            </g>
            </svg>
      
          </div>
 -->