---
import Card from "@components/card.astro";
import Container from "@components/container.astro";
import Review from "@components/review.astro";


const testimonials = [
  {
    Titulo: "Report on the #CiudadanosalCentro Program:",
    gif_voceria: "https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmZsZHo3dzZwZXhlYjFwcm9pNGczMWxuMDFhdnpjYm0yNzl3aTR3NyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/S6ZRnyQwo7wmLVHatS/giphy-downsized-large.gif",
    Descripcion: "A comparative guide on the leading delivery applications and their key home delivery services.",
    url: "https://www.facebook.com/watch/live/?ref=watch_permalink&v=531404508787380"
  },
    {
    Titulo: "Official Spokesperson at the National Consumer Protection Council:",
    gif_voceria: "https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExM2thMjRqbGpmM2Z3NDRyYWs4NjBveGVxY2d6Y2J5bTB0dTI5OGNxcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/PaSYSSkDXrn2JrjrVm/giphy.gif",
    Descripcion: "Promoting and disseminating impactful products that safeguard consumer rights within the National Consumer Protection Council.",
    url: "https://youtu.be/qqjb9ONYeIU?list=PL4gjodP_JdZDNAkpMX3vO7c7SWA75A_dK&t=4675"
  },
  {
    Titulo: "Radio Interview - Consumer Power on Valentine's Day:",
    gif_voceria: "https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmpvbHM1bW95c2c2ZXcyYjg2d3N6YzBrbG5kdzZxb2o1Y3JqdHk3eSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lQ1EqtfeWlBArnRtao/giphy.gif",
    Descripcion: "Offering consumer recommendations for Valentine's Day. An interview with Susana Casanova, representative of the National Consumer Protection Authority at Indecopi.",
    url: "https://www.youtube.com/watch?v=1mN8xnootZA"
  },
  {
    Titulo: "Indecopi Special Monitoring Center – Active Citizen Listening:",
    gif_voceria: "https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHV2aW9wNXB2OHBjdWQyNW5sZTk1ejEwZHl3dDZrY3E3d240cW8wNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/HbdIgDeGd812PmR0u8/giphy.gif",
    Descripcion: "Presenter for the National Survey conducted by Indecopi's Special Monitoring Center, focused on active listening to the community.",
    url: "https://www.youtube.com/watch?v=3G8hBxSHCl0&t=249s"
  }
  {
    Titulo: "Radio Interview - La Fuerza del Consumidor:",
    gif_voceria: "https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMnc5NjFzZXNpbTB0OHpucWc2YXRydnlmMGw1ZHdsMms3OW95NjF3eCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/7fPFFqRU9SU8N8xpYB/giphy.gif",
    Descripcion: "Representative of the National Consumer Protection Authority at Indecopi presents the results of a comparative guide on mobile delivery applications during the program La Fuerza del Consumidor.",
    url: "https://www.facebook.com/IndecopiOficial/videos/795360358550058"
  },
];
---

<Container>
  <div class="mt-24">
    <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-center">
      Interview and <span class="text-indigo-600">Dissemination Activities</span>
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center">
      Discover my collection of videos showcasing pivotal moments, demonstrations, and valuable insights.
    </p>
  </div>
</Container>

<div class="mt-10 relative overflow-x-clip">
  <div class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-100 right-1/3 -top-10"> </div>
  <div class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-100 right-1/3 translate-x-2/3 top-10"></div>
  <div class="relative md:flex gap-10 overflow-hidden py-5 group">
    <div class="md:motion-safe:animate-marquee w-auto py-5 overflow-x-auto flex flex-nowrap min-w-full shrink-0 items-stretch gap-10 snap-x snap-mandatory px-5">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
    <!--  ↓↓ Shadow DOM to make the animation smooth (clone) ↓↓ -->
    <div class="md:motion-safe:animate-marquee hidden md:motion-reduce:hidden md:flex min-w-full shrink-0 items-center gap-10">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
  </div>
</div>
